<img src="/assets/user.png" alt="user-img" class="user-image">

<div class="upper-block"></div>

<div class="middle-block">
    <p class="name">{{customer.name}}</p><br><br>
</div>

<div class="lower-block">

    <div class="lower-block1">
        <h3 style="font-weight: 700; font-size: x-large;"> Mail / Phone</h3>

        <p class="font">{{customer.emailId}}</p>
        <p class="font">{{customer.phoneNumber}}</p>

    </div>

    <div class="lower-block2">
        <h3 style="font-weight: 700; font-size: x-large;"> Address </h3>

        <p class="font">{{customer.address}}</p>

    </div>

</div>
